* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
	font-family: 'Helvetica', sans-serif;
	font-size: 8px;
	line-height: 1.6;
	color: #444;
	background-color: #d9e3d9;
}

/* Font Sizes */

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h5 {
	font-weight: 600;
	font-size: 20px;
	margin: 0;
}

h6 {
	font-weight: 700;
	margin: 0;
}

p {
	margin: 0 0 10px;
}


/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #1bb05b;
	background-color: #fcfcfc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
  }
  
  header button.hamburger-menu {
	background-color: transparent;
	color: #5a5555;
	border: none;
	font-size: 25px;
	float: right;
	margin-right: 12px;
  }
  
  header nav {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fffffff5;
	animation: fadeIn 0.3s ease, fadeOut 0.3s ease forwards;
  }
  
  @keyframes fadeIn {
	0% { opacity: 0; transform: translateY(-20px); }
	100% { opacity: 1; transform: translateY(0); }
  }
  
  header nav.show {
	display: block;
	animation: fadeIn 0.1s ease;
  }
  
  header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
  }
  
  header nav li {
	margin-right: 10px;
  }
  
  header nav a {
	display: block;
	padding: 10px;
	color: #7a7474;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.1s ease;
  }
  
  header nav a:hover {
	color: #28342bee;
  }
  
  header button.hamburger-menu {
	cursor: pointer;
  }


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 10px;
	background-color: #d9e3d9;
  }

.landing-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 10px;
	background-image: url('Images/bg1_placeholder.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }

/* Customize the h3 inside .landing-container */
.landing-container h3 {
	color: #ffffff;
	font-size: 28px; /* Adjust the font size */
	margin: 0; /* Remove default margin */
	position: absolute;
	top: 50%; /* Position the top edge of the h3 at 50% from the top of the .landing-container */
	right: 0%; /* Position the left edge of the h3 at 50% from the left of the .landing-container */
	transform: translate(-50%, -50%); /* Center the h3 both horizontally and vertically */
  }


.cards-main {
	max-width: 1200px; /* Set a maximum width for the grid */
	margin-top: 3.6rem; /* Add space between header and content */
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
	justify-items: center; /* Center the grid items horizontally */
  }
  
.card {
	flex: 1 0 0;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	padding: 3px;
	margin-bottom: 1px;
	background-color: #f4f4f4;
	transition: 0.12s;
  }

.card img {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}

.card:hover {
	transform: translateY(-8px);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.114);
	background-color: #f9f8f8;
}


.card p {
	font-size: 0.9rem;
	margin-bottom: 2rem;
}


/* Media query for screens that are at least 768px wide */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.cards-main {
	  display: grid;
	  grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Adjust the number of columns and minimum/maximum widths */
	  grid-gap: 20px; /* Add margin between cards */
	  justify-items: center; /* Center the grid items horizontally */
	}
  }
  
  /* Media query for screens that are at least 1024px wide */
  @media only screen and (min-width: 1024px) {
	.cards-main {
	  display: grid;
	  grid-template-columns: repeat(4, minmax(250px, 1fr)); /* Adjust the number of columns and minimum/maximum widths */
	  grid-gap: 20px; /* Add margin between cards */
	  justify-items: center; /* Center the grid items horizontally */
	}
  }
  
  /* Media query for smaller screens */
  @media (max-width: 767px) {
	.cards-main {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 1.6rem; /* Add space between header and content */
	}
  
	.card {
	  width: 90%;
	  max-width: 400px;
	  margin: 50px auto;
	}
  
	.card p {
	  font-size: 1.1rem;
	  margin-bottom: 2rem;
	}

	.landing-container {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		background-image: url('Images/bg1_placeholder.jpg');
		background-size: cover;
		background-position: left;
	  }

	.landing-container h3 {
	  color: #ffffff;
	  font-size: 18px;
	  top: 60%; /* Position the h3 50% from the top of the container */
      left: 51%; /* Position the h3 50% from the left of the container */
	}

  }
  
  

/* About & Footer */
.about-2 {
	color: #777777;
	font-size: 0.8rem;
	background-color: #d9e3d9;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-items: center;
	text-justify: auto;
	text-align: center;
}

.social-links {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 10px;
  }
  
  .social-links a {
	display: inline-block;
	margin: 0 10px;
	width: 32px;
	height: 32px;
	border-radius: 25%;
	overflow: hidden;
  }
  
  .social-links img {
	width: 100%;
	height: 100%;
  }