
  /* Media query for smaller screens */
  @media (max-width: 768px) {
	.navbar {
	  display: none;
	  position: absolute;
	  top: 60px;
	  right: 0;
	  width: 100%;
	  background-color: white;
	  z-index: 1;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}
  
	.navbar ul {
	  display: flex;
	  flex-direction: column;
	}
  
	.navbar li {
	  margin-left: 0;
	  margin-bottom: 10px;
	}
  
	.hamburger {
	  display: block;
	}
  }

/* Typography */
body {
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #444;
	background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
}

h1 {font-size: 36px;}
h2 {font-size: 24px;}
h3 {font-size: 18px;}
p {margin: 0 0 10px;}

/* Links */
a {
	color: #1eaedb;
	text-decoration: none;
}

nav {
	display: flex;
	flex-direction: column;
  }
  
  nav a {
	display: block;
  }


/* Buttons */
.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #1eaedb;
	color: #fff;
	border-radius: 3px;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #0fa4b5;
}

.back-to-top-btn {
	display: none; /* initially hidden */
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	font-size: 16px;
	padding: 12px 20px;
	border-radius: 4px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
  }
  
.back-to-top-btn:hover {
	background-color: #555;
  }	  


/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	background-color: #28342b;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
  }

header button.hamburger-menu {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 34px;
    float: right;
    margin-right: 10px;
}

header nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #28342bee;
}

header nav.show {
	display: block;
  }
  
  header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
  }
  
  header nav li {
	margin-right: 20px;
  }
  
  header nav a {
	display: block;
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
  }
  
  header nav a:hover {
	background-color: #ffffff;
	color: #28342bee;
  }


/* Cards */
  
  .card {
	flex: 1 1 30%;
	margin: 10px 0px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
	background-color: #f4f4f4;
	perspective: 1000px;
	transition: 0.36s;
	
  }
  
  .card img {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
  }

  .card:hover {
	transform: translateY(-8px);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.414);
	background-color: white;
  }
  
  .card h3 {
	font-size: 1.5rem;
	margin-bottom: 5px;
  }
  
  .card p {
	font-size: 0.9rem;
	margin-bottom: 10px;
  }
  
  .card a {
	display: block;
	text-align: right;
	color: #337ab7;
	font-weight: bold;
	text-decoration: none;
  }
  
  .card2 {
	width: 20em;
	margin-right: -1px;
	border-radius: 16px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
	  rgba(0, 0, 0, 0.359) 0px 0px 0px 1.2px;
	padding: 2rem 2rem;
	perspective: 1000px;
	transition: 0.36s;
  }
  
  .card2:hover {
	transform: translateY(-8px);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.414);
	background-color: white;
  }

/* Style rules for screens that are at least 600px wide */
@media only screen and (min-width: 768px) {
    /* Add your styles for desktop here */
    .card {
      display: inline-block;
      width: 300px;
      margin-right: 20px;
    }
	.cards-main {
		margin-left: 200px;

	}
  }
  
  /* Style rules for screens that are less than 600px wide */
  @media only screen and (max-width: 767px) {
    /* Add your styles for mobile here */
    .card {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }

  }
}

/* About */
.about-me {
	padding: 60px 0;
	background-color: #f4f4f4;
	margin: 10px 80;
	color: #f6f6f6;
}

.about-2 {
	color: #f6f6f6;
	background-color: #000000ee;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	margin: 10px 35px;
	justify-items: center;
	text-justify: auto;
	text-align: center;

}