.my-coding {
  display: flex;
  align-items: left;
  gap: 2rem;
  background-color: #181825;
  border-radius: 8px;
  padding: 2rem;
}

.my-coding-content {
  color: #cfd4da;
  line-height: 1.8;
}

.featuredProjects {
  margin-top: 1rem;
}

.featured-project {
  background: rgb(24 24 37 / 40%);
  border-radius: 16px;
  padding: 2rem;
  border: 1px solid rgb(133 72 245 / 10%);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 20px;
}

.featured-project .icon {
  transform: translateY(2.5px);
}

.project-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
}

.project-link {
  color: #8548f5;
  text-decoration: none;
  margin-left: 0.5rem;
}

.project-link:hover {
  text-decoration: underline;
}
