<header id="header">
    <nav class="header-container">
        <div class="header-main">
                <div class="logo">
                    <h1>🍍</h1><a href="/" class="logo-text">wlinds.github.io</a>
                </div>

            <!-- Navigation Links (Desktop) -->
            <div class="header-right hidden-md">
                <div class="nav-links">
                    <a href="/" class="nav-btn">Home</a>
                    <a href="/pages/blog/main.html" class="nav-btn">Blog</a>
                    <a href="/pages/code.html" class="nav-btn hidden-lg">Code</a>
                    <!-- <a href="/pages/music.html" class="nav-btn hidden-lg">Music</a> -->
                    <a href="/pages/machine-learning-concepts.html" class="nav-btn hidden-lg">AI/ML Models</a>
                    <a href="/pages/downloads.html" class="nav-btn hidden-lg">Downloads</a>
                </div>

                <div class="social-icons">
                    <a href="https://bsky.app/profile/wlinds.bsky.social" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/icons/bluesky.svg" alt="Bluesky Icon" class="icon">
                    </a>
                    <a href="https://twitter.com/wlinds_" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/icons/x.svg" alt="Twitter" class="icon hidden-sm">
                    </a>
                    <a href="https://www.linkedin.com/in/williamlindstedt/" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/icons/linkedin.svg" alt="LinkedIn" class="icon hidden-sm">
                    </a>
                    <a href="https://github.com/wlinds" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/icons/github.svg" alt="GitHub" class="icon">
                    </a>
                </div>
            </div>

            <!-- Mobile Menu Button -->
            <button class="menu-btn" id="menu-toggle">
                <img src="/assets/icons/hamburger.svg" alt="Menu Icon">
            </button>
        </div>

        <!-- Mobile Menu (Hidden by Default) -->
        <div class="mobile-menu hidden" id="mobile-menu">
            <div class="mobile-links">
                <a href="/" class="mobile-btn">Home</a>
                <a href="/pages/blog.html" class="mobile-btn">Blog</a>
                <a href="/pages/code.html" class="mobile-btn">Code</a>
                <!-- <a href="/pages/music.html" class="mobile-btn">Music</a> -->
                <a href="/pages/machine-learning-concepts.html" class="mobile-btn">AI/ML Models</a>
                <a href="/pages/downloads.html" class="mobile-btn">Downloads</a>
            </div>
        </div>
        </div>
    </nav>
</header>
