* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    height: 100%;    
}

h2, h3, h4, p, ul, a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

.main-body {
    cursor: auto;
    color: #e9ecf2;
    background-color: #000000;
    padding: 0;
    line-height: 24px;
    animation: fadeInBackground 2s ease forwards;
}

@keyframes fadeInBackground {
    0% {
        background-color: #000000;
    }
    100% {
        background-color: #0d0d13;
    }
}


.main-body a {
    color: rgb(193, 142, 252);
} 

.main-body-blog {
    cursor: auto;
    color: #e9ecf2;
    background-color: rgb(13, 13, 19);
    line-height: 24px;
}

/* Header */

.main-header {
    height: 78px;
    background-color: #181825;
    justify-content: right;
    align-items: right;
    width: 100%;
    display: flex;
    z-index: 20;
}


.header-content {
    padding-top: 5px;
    padding-bottom: 32px;
    padding-right: 32px;
    align-items: right;
    flex-direction: row;
    justify-content: right;
    display: flex;
    z-index: 21;
}


.header-title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: -0.8px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.header-content a {
    color: #e9ecf2;
}

.header-strapline {
    font-size: 10px;
    line-height: 14px;
    margin-left: 4px;
}

/* Main content */

.main-content {
    gap: 32px;
    justify-content: center;
    flex-direction: row;
    display: flex;
}


/* Hero content */

.hero-container {
    flex-direction: column;
    display: flex;
    margin-top: 96px;
    margin-bottom: 64px;
}
    

.hero-blur {
    filter: blur(64px);
    opacity: 0.8;
    background-color: rgba(133, 72, 245, 0.468);
    transform: matrix(1, 0, 0, 1, -250.75, 0);
    width: 30%;
    height: 96px;
    z-index: -10;
    left: 850px;
    position: absolute;
    animation: animateBlur 2.1s ease forwards; 
}

@keyframes animateBlur {
    0% {
        filter: blur(128px);
        opacity: 0.2;
        transform: matrix(1, 0, 0, 1, -350.75, 0); 
        width: 80%;
    }
    100% {
        filter: blur(64);
        opacity: 0.8;
        transform: matrix(1, 0, 0, 1, -350.75, 0);
        width: 13.3333%;
    }
}


.hero-container h1 {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1.5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    opacity: 0;
    animation-delay: 0.2s;
    animation: fadeInH1 1.1s ease forwards;
}

.hero-container p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    opacity: 0;
    animation: fadeInP 1s ease forwards;
    animation-delay: 0.4s;
}

.tags-container {
    font-family: Arial, Helvetica, sans-serif;
    gap: 8px;
    justify-content: center;
    display: flex;
    margin-top: 16px;
}

.hero-tag {
    cursor:default;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    color: rgb(205, 214, 244);
    font-size: 14px;
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(49, 50, 68);
    border-radius: 6px;
    gap: 4px;
    align-items: center;
    user-select: none;
    width: fit-content;
    display: flex;
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.hero-tag:nth-child(1) {
    animation-name: fadeInTag1;
    animation-delay: 0.9s;
}

.hero-tag:nth-child(2) {
    animation-name: fadeInTag1;
    animation-delay: 0.8s;
}

.hero-tag:nth-child(3) {
    animation-name: fadeInTag1;
    animation-delay: 0.7s;
}

.hero-tag:nth-child(4) {
    animation-name: fadeInTag1;
    animation-delay: 0.6s;
}

@keyframes fadeInTag1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeInH1 {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    89% {
        transform: translateX(2px);
      }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes fadeInP {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    80% {
        transform: translateX(8px);
      }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Left column content */

.left-main-content {
    padding-top: 32px;
    align-items: center;
    margin-left: 80px;
    flex-direction: column;
    height: auto;
    display: flex;
    
}

.my-coding {
    flex-direction: row;
    margin-top: 0px;
    display: flex;
    padding-top: 0px;
    gap: 32px;
    padding-bottom: 28px;
    text-align: justify;
    opacity: 0;
    animation: main-fade 1.8s ease forwards;
    animation-delay: 0.3s;
}

@keyframes main-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.text-embedded-img {
    display: block;
    color: transparent;
    max-width: 100%;
    height: auto;
}


.my-ethics {
    margin-top: 32px;
    margin-bottom: 32px;
    flex-direction: column;
    display: flex;
    text-align: justify;
    opacity: 0;
    animation: main-fade 2s ease forwards;
    animation-delay: 0.7s;
}


.my-music {
    flex-direction: row-reverse;
    margin-top: 32px;
    gap: 32px;
    display: flex;
    text-align: justify;
}


.main-h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 2px;
}


/* Right column content */

.right-main-content {
    padding-right: 32px;
    display: block;
}

.right-main-container {
    position: relative;
    flex-direction: column;
    width: 18rem;
    gap: 16px;
    display: grid;
    margin-top: 32px;

}


.right-main-container-variant-box {
    background-color: rgb(30, 30, 46);
    border-radius: 8px;
    min-width: 288px;
    width: 100%;
}

.right-main-container-variant-box-head {
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid rgba(193, 142, 252, 0.622);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255, 254, 254, 0.327), rgba(0,0,0,0)) 1;
    
}


.basic-padding {
    padding: 8px;
    border: 0px solid #e9ecf2;
}


.column-cards {
    position: absolute;
    border: 0px solid #e9ecf2;
    padding-top: 10px;
    transition: top 1.5s ease, opacity 2.5s ease; 
}


.column-card {
    background-image: linear-gradient(0deg, rgba(60, 39, 93, 0.237) 0%, rgba(0, 0, 0, 0.294) 20%);
    color: rgb(255, 255, 255);
    border: 0px solid #e9ecf2;
    background-size: cover, cover;
    background-color: rgba(0, 0, 0, 0.348);
    border-radius: 8px;
    width: 100%;
    background-position: 50% 50%, 50% 50%;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    box-shadow: rgba(40, 40, 0, 0) 0px 0px 0px 0px, rgba(33, 44, 128, 0.368) -2px -2px 6px 0px, rgba(33, 44, 128, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeInWithShadow 1.66s ease forwards;
}

@keyframes fadeInCard {
    0% {
      opacity: 0;
      background-image: linear-gradient(82deg, rgba(60, 39, 93, 0.237) 0%, rgba(0, 0, 0, 0.294) 20%);;
      box-shadow: rgba(40, 40, 0, 0) 0px 0px 0px 0px, rgba(33, 44, 128, 0.368) -2px -2px 6px 0px, rgba(33, 44, 128, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    }
    100% {
      opacity: 1;
      background-image: linear-gradient(82deg, rgba(60, 39, 93, 0.237) 0%, rgba(0, 0, 0, 0.294) 20%);
      box-shadow: none;
    }
  }

.column-card:nth-child(1) {
    animation: fadeInCard 2.66s ease forwards;
    animation-delay: 0.2s; 
}

.column-card:nth-child(2) {
    animation: fadeInCard 2.66s ease forwards;
    animation-delay: 0.4s;
}

.column-card:nth-child(3) {
    animation: fadeInCard 2.66s ease forwards;
    animation-delay: 0.6s;
}


.column-card a {
    text-decoration: none;
    color: #e9ecf2;
}


.column-card-title {
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin: 0px;

}

.column-card-img-and-text {
    margin-top: 8px;
    margin-bottom: 0px;
    gap: 16px;
    flex-direction: row;
    display: flex;
}


.column-card-content {
    justify-content: center;
    flex-direction: column;
    display: flex;
}


.right-col-card-h3 {
    letter-spacing: -0.6px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    vertical-align: bottom;
    margin-top: -8px;
    margin: -8px 0px 0px;
}


.right-col-card-date {
    font-size: 12px;
    line-height: 16px;
    margin: 0px;
}


/* Bottom / My Stack */

.my-stack {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.057), rgba(255, 255, 255, 0));
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
    padding-top: 128px;
    padding-bottom: 28px;
    width: auto;
    border: 0px solid #e9ecf2;
}


.my-stack h2 {
    order: 1;
}


.logo-stack {
    flex-basis: 33%;
    order: 1;
    padding-left: 64px;
    padding-right: 64px;
}


.logo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 100%;
    padding-bottom: 40px;
}


.logo-container img {
    max-width: 100%;
    height: auto;
    margin: 0;
}


.my-stack p {
    flex-basis: 66%; 
    padding: 8px;
    order: 2;
    margin-right: 32px;
}


/* About/Contact */

.my-about {
    flex-direction: column;
    margin-top: 0px;
    display: flex;
    padding-top: 0px;
    gap: 32px;
    padding-bottom: 28px;
    max-width: 700px;
}


.my-about li {
    margin-left: 10px;
    margin-bottom: 10px;
}


.my-about strong {
    font-family: 'Helvetica';
    font-weight: 800;
}


.my-about-h2 {
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 32px;
}


#contact {
    text-align: center;
    padding: 2rem;
  }
  
  .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-info li {
    margin-bottom: 1rem;
  }
  
  .info2 {
    font-size: 0.8rem;
    color: #aaa;
    font-style: italic;
    display: none;
  }
  
  .contact-info li:hover .info2 {
    display: inline-block;
    margin-left: 10px;
  }

.my-contact {
    height: 200px;
}


.footy {
    justify-content: center;
    display: flex;
    z-index: 10;
    
    border-top: 1px solid rgba(193, 142, 252, 0.656);
}


.footer-container {
    padding: 32px;
    background-color: rgba(30, 30, 46, 0.426);
    width: 100%;
    display: flex;
    box-shadow: inset 10px 0 10px rgba(13, 13, 19, 0.137);

}


.footer-main-container {
    flex-direction: row;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;

}

.footer-columns {
    width: 100%;
    display: flex;
}


.footer-column {
    flex-direction: column;
    display: flex;
    padding: 20px;
    width: inherit;
    padding-left: 0;
    margin-right: 11px;
}


.footer-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fffff9;
}


.footer-link {
    color: rgb(250, 147, 255);
    text-decoration: none solid rgba(250, 147, 255, 0.679);
    
}

.persistent-footer {
    font-size: 12px;
    background-color: rgba(21, 21, 40, 0.135);
    display: flex;
    justify-content: center;

}

.persistent-footer p {
    font-size: 12px;
    color: #61616d;
}

.persistent-footer a {
    color: rgb(135, 116, 158);
}

.btn-div {
    text-align: left;
}

.btn-0 {
    display: inline-block;
    margin-top: 12px;
    background-color: #1f2932;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease; 
}

/* Button hover effect */
.btn-0:hover {
    background-color: #161e26;
}


/* For Downloads page */
.d-title {
    padding: 30px;
    background-color:#0d0d13;
}

.dow-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.d-column {
    width: calc(25% - 20px);
    margin-bottom: 40px;
}

.d-column h3 {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 20px;
}

.d-column h3 {
    margin-bottom: 10px;
}

.d-column img {
    width: 100%;
    height: auto;
}

.d-column p {
    margin-top: 0px;
    font-size: 14px;
    color: #bdb6b6;
    margin-top: auto;
}

.d-column a {
    margin-top: auto;
}

.empty-block-400{
    height: 400px;
}



/* Models */

.model-box {
    flex-direction: column;
    margin-top: 32px;
    display: flex;
    padding-top: 128px;
    gap: 10px;
    padding-bottom: 28px;
    margin-left: 120px;
    margin-right: 120px;
}

.model-box h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.model-box img {
    border-radius: 6px;

}

.image-caption {
    justify-content: left;
    text-align: left;
    color: #8b8b90;
    padding-top: -10px;
    margin-top: -10px;
    margin-bottom: 8px;
    font-size: 80%;
}

.ml-tags {
    font-family: Arial, Helvetica, sans-serif;
    gap: 8px;
    justify-content: flex-start;
    display: flex;
    cursor: default;
    flex-wrap: wrap;

}

.ml-tag {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    color: rgb(205, 214, 244);
    font-size: 14px;
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(49, 50, 68);
    border-radius: 6px;
    gap: 4px;
    align-items: center;
    user-select: none;
    width: fit-content;
    display: flex;
    border: 0px solid rgba(229, 231, 235, 0.073);
}

@media screen and (max-width: 768px) {

    .main-body {
        overflow-x: hidden;
    }

    .main-header {
        display: none;
    }

    .main-content {
        padding-left: 5%;
        padding-right: 5%;
        gap: 32px;
        justify-content: center;
        flex-direction: column;
        display: flex;
        width: auto;
        overflow-x: hidden;
    }

    .main-h2 {
        font-size: 24px;
    }

    .left-main-content {
        padding-top: 32px;
        align-items: center;
        margin-left: 0px;
        flex-direction: column;
        height: auto;
        display: flex;
    }

    .hero-container h1 {
        font-family: 'Work Sans', sans-serif;
        letter-spacing: -1.5px;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        margin: 0px;
        
        
        top: 0;
    }

    .hero-blur {
        left: 450px;

    }

    .hero-container p {
        font-size: 13px;
        line-height: 13px;
    }


    .hero-tag {
        font-size: 10px;
        line-height: 10px;
    }
    

    .btn-div {
        margin-top: 30px;
        text-align: center;
    }
    
    .my-coding {
        padding-top: 200px;
        flex-direction: column;
        align-items: center;
        top: 0;
    }

    .my-about {
        padding-top: 200px;
        flex-direction: column;
        align-items: center;
        
        
        top: 0;
    }

    .my-ethics {
        
        
        top: 0;
    }

    .my-music {
        flex-direction: column;
        align-items: center;
        
        
        top: 0;
    }

    .text-embedded-img {
        width: 100%;
    }

    .text-container {
        text-align: center;
    }

    .my-stack {
        flex-direction: column;
        align-items: center;
        
        
        top: 0;
    }

    .my-stack h2 {
        padding-bottom: 20px;
    }

    .my-stack p {
        padding-left: 5%;
        padding-right: 5%;
    }

    .logo-stack {
        order: 0;
        flex-basis: 50%;
    }
    .right-main-content {
        padding-right: 0px;
        order: -1;
        display: flex;
        flex-direction: column;
    }

    .right-main-container {
        flex-direction: column;
        grid-template-columns: auto; 
        width: auto; 
        height: auto;
        gap: 4; 
        margin-top: 0; 
        margin-bottom: 0;
        max-height: none;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }

    .column-cards {
        position: relative;
        border: 0px solid #e9ecf2;
        padding-top: 0px;
    
    }


    .column-cards:first-child {
        grid-column: span 1;
    }
    
    .column-cards:not(:first-child) {
        grid-column: span 2;
    }

    .column-cards {
        margin-top: 2px;
        border: 0px solid #e9ecf2;
        padding-top: 0px;
        
        
    }

    .column-card {
        border-radius: 8px;
        height: 90px;
        margin-top: 0px;
        padding: 0;
        padding-top: 4px;
        padding-left: 6px;
        box-shadow: rgba(40, 40, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(33, 44, 128, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
        border: 0px solid #e9ecf2;
        margin-bottom: 4px;
        background-image: linear-gradient(0deg, rgba(60, 39, 93, 0.237) 0%, rgba(0, 0, 0, 0.294) 20%);

    }

    @keyframes fadeInCard {
        0% {
            opacity: 0;
            box-shadow: rgba(40, 40, 0, 0) 0px 0px 0px 0px, rgba(33, 44, 128, 0.368) -2px -2px 6px 0px, rgba(33, 44, 128, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    
        }
        100% {
            opacity: 1;
            box-shadow: none;
            background-image: linear-gradient(0deg, rgba(60, 39, 93, 0.237) 0%, rgba(0, 0, 0, 0.294) 20%);
    
        }
    }
    
    .column-card-img-and-text {
        margin-top: 0px;
        margin-bottom: 0px;
        gap: 16px;
        flex-direction: row;
        display: flex;
    }


    
    .column-card-title {
        font-size: 10px;
        margin-bottom: 2px;
        margin-top: 0;
    }


    
    .right-col-card-h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }
    
    .right-col-card-date {
        font-size: 10px;
        margin: 0;
    }

    .right-main-container-variant-box {
        margin-top: 40px;
        background-color: rgba(30, 30, 46, 0);
    }







    .dow-div {
        justify-content: center;
    }

    .d-column {
        width: 100%;
    }



    .footer-container {
        padding-bottom: 64px;
        justify-content: center;
        display: flex;
        box-shadow: inset 10px 0 10px rgba(13, 13, 19, 0.744);
        margin: 0;
        padding: 0;
    }


    .footer-main-container {
        flex-direction: row;
        font-size: 12px;
        line-height: 12px;
        gap: 0px;
        margin-left: 4px;
        margin-right: 0px;
        flex-wrap: wrap;
        padding-bottom: 20px;
        
        }


    .footer-columns {
        justify-content: space-between;
        margin-left: 0;
        gap: 2px;
        padding: 0;
    }

    .footer-column {
        padding: 2px;
        margin: 0;
    }

    .footer-title {
        padding-top: 8px;
        font-size: 12px;
        line-height: 12px;
    }

    .footer-column a {
        margin-top: 5px;
        font-size: 12px;
    }



    .model-box {
        flex-direction: column;
        margin-top: 32px;
        display: flex;
        padding-top: 128px;
        gap: 4px;
        padding-bottom: 28px;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 0;
        padding-right: 0;
    }

    .model-box h2 {
        text-align: center;
        padding-bottom: 20px;

    }

    .model-box p {
        text-align: justify;
    }

    .ml-tag {
        font-size: 13px;
        line-height: 13px;
    }

    .image-caption {
        margin: 0;
        padding: 0;
    }

}
