/* Import base styles */
@import 'variables.css';
@import 'reset.css';
@import 'layout.css';
@import 'components.css';
@import 'mobile.css';

/* Import component-specific styles */
@import 'header.css';
@import 'footer.css';
@import 'hero.css';
@import 'projects.css';
@import 'blog.css';

@import 'sidebar.css';
@import 'stack.css';
@import 'music.css';
@import 'ethics.css';
@import 'project.css';
@import 'work-experience.css';